.cardGridContainer {
    display: flex;
}

.cardContainer {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px #888888;
}

.cardAuthorProfile {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.cardFooter {
    display: flex;
    align-items: center;
}