.cardGridContainer {
    display: flex;
}

.cardContainer {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #dfdfdf;
    background-color: white;
}

.cardAuthorProfile {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.cardFooter {
    display: flex;
    align-items: center;
}